.outerContainer {
  margin: 50px auto;
  padding: 2px;
  width: 95%;

  .containerHeading {
    padding-left: 10px;
  }

  .proceedBtnShow {
    float: right;
    padding: 5px;
  }

  .proceedBtnHide {
    display: none;
  }

  .btn {
    padding: 5px 20px;
    background-color: white;
    border-radius: 15px;
    border-color: white;
    border: 2px solid black;
    margin-top: 5px;

    &:hover {
      background-color: rgb(245, 245, 245);
      color: darkblue;
    }

    :disabled {
      background-color: white;
    }
  }

  .btn:disabled {
    background-color:white;
    color:rgba(160, 160, 160, 0.868);
    border:1px solid black;
    &:hover{
      background-color:hsl(0, 0%, 98%);
      color:rgb(157, 157, 157)
    }
  }

  .nextBtn {
    float: right;
  }
}

.popupForm {
  position: absolute;
  top: 40vh;
  height: auto;
  width: 20%;
  margin-left: 40%;
  border: 1px solid rgb(203, 203, 203);
  padding: 30px;
  background-color: white;
  border-radius: 8px;
  font-size: 0.8em;
  box-shadow: 0 0 5px 2px #de800f;
  .inputPopupForm {
    font-size: 0.75em;
    width: 100%;
    height: 20px;
    margin-bottom: 8px;
    border: 1px solid rgb(203, 203, 203);
    border-radius: 4px;
  }
  .validationSummary {
    margin: 8px 0px 0px 10px;
    color: rgb(0, 0, 0);
    li {
      color: rgb(255, 0, 0);
    }
  }

  .formSubmitBtn {
    background-color: #c8740d;
    // background-color: #00558a;
    width: 102%;
    margin-top: 15px;
    color: white;
    height: 30px;
    font-size: 1em;
    &:hover {
      background-color: #d84e13;
      // background-color: #067bc4;
    }
  }
}

.innerContainer {
  border: 2px solid rgb(205, 205, 205);
  border-radius: 4px;
  margin: 6px;
  padding: 6px;

  &:hover {
    border: 2px solid #00b1d2;
    box-shadow: 1px 0px 0px 3px #e8f9fb;
  }

  .questions {
    font-size: 0.75em;
    margin: 1.67em 0 1.67em 0;
    font-weight: bold;
  }
}

.radioOptions {
  font-size: 0.85em;

  .radioValues {
    margin-right: 5px;
    margin-bottom: 5px;
    position: relative;
    top: 2px;
    accent-color: blue;
    display: inline;
  }
}

.riskProfileGraphCenter {
  position: absolute;
  top: 20px;
  left: 30vw;
  margin-top: 7%;
  border: 2px solid rgb(172, 172, 172);
  background-color: white;
  border-radius: 27px;
  box-shadow: 0 0 5px 2px darkorange;

  .graphHeading {
    text-align: center;
  }

  .horizontalLine {
    position: absolute;
    width: 90%;
    top: 67.6%;
    left: 20px;
    overflow: hidden;
  }

  .graphfooterText {
    position: absolute;
    text-align: center;
    top: 75%;
    left: 40%;
  }

  .riskProfileUpdateBtn {
    background-color: #c89f0d;
    padding: 10px 30px;
    color: white;
    font-size: 0.9rem;
    border: 1px solid #4ae1bc;
    border-radius: 4px;
    position: absolute;
    top: 88%;
    left: 35%;
    border-radius: 14px;

    &:hover {
      background-color: #db7300;
    }
  }
}

@media screen and (max-width: 672px) {
  .riskProfileGraphCenter {
    position: absolute;
    top: 123px;
    left: 1vw;
    margin-top: 50%;
    width: 100vw;
    border: 2px solid rgb(172, 172, 172);
    background-color: white;
  }

  .popupForm {
    position: absolute;
    top: 40vh;
    height: auto;
    width: 60%;
    margin-left: 15%;
    border: 1px solid rgb(203, 203, 203);
    padding: 30px;
    background-color: white;
    border-radius: 8px;
    font-size: 0.8em;
  }
}

@media only screen and (max-width: 820px) and (min-width: 672px) {
  .popupForm {
    position: absolute;
    top: 40vh;
    height: auto;
    width: 45%;
    margin-left: 20%;
    border: 1px solid rgb(203, 203, 203);
    padding: 30px;
    background-color: white;
    border-radius: 8px;
    font-size: 0.8em;
  }
}

.blurBackground {
  opacity: 0.1;
}

.blurRiskGraphBackgroundGraph{
  opacity: 0;
}
